<mat-toolbar class="toolbar-container" color="primary" role="heading">
  <button
    mat-icon-button
    class="icon"
    aria-label="Example icon-button with menu icon"
    (click)="openSideNav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Swapify</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav color="primary">
    <div class="sidenav-button-container">
      <button color="accent" (click)="goToUsers()" mat-button>
        Gebruikers
      </button>
      <button color="accent" (click)="goToAdmins()" mat-button>
        Beheerder
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-container">
      <div class="main">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
