@use "@angular/material" as mat;

@include mat.core();

$swapify-primary: mat.define-palette(mat.$green-palette);
$swapify-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

$swapify-warn: mat.define-palette(mat.$red-palette);

$swapify-theme: mat.define-light-theme(
  (
    color: (
      primary: $swapify-primary,
      accent: $swapify-accent,
      warn: $swapify-warn,
    ),
  )
);

@include mat.all-component-themes($swapify-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
